.search-box {
  position: relative;
  width: 500px;
  margin-top: 30px;
}

.search-box--input {
  width: 100%;
  padding: 15px 150px 15px 30px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 0;
  outline: none;
  font-size: 20px;
}

.btn-position {
  position: absolute;
  top: 10%;
  right: 8px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .search-box {
    width: 100%;
  }

  .search-box--input {
    font-size: 14px;
    padding: 12px 100px 12px 20px;
  }

  .btn-position {
    top: 50%;
    margin-top: -17px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .search-box {
    width: 100%;
  }

  .search-box--input {
    padding: 12px 130px 12px 30px;
  }
}

/* Theme selectors */
.theme-dark .search-box--input {
  background-color: var(--white);
}
