.select-box {
  position: relative;
  padding: 10px 10px 10px 15px;
  background-color: #ffffff;
  border-radius: 10px;
}

.select-box:after {
  content: "";
  position: absolute;
  width: 90%;
  bottom: 1px;
  left: 10px;
  z-index: -1;
  box-shadow: 0px -10px 40px 10px rgba(0, 0, 0, 0.2);
}

.select--label {
  font-size: 16px;
  font-weight: 700;
}

.select--option {
  width: 80px;
  margin-left: 10px;
  padding: 8px 20px 8px 12px;
  background-color: var(--green);
  border-radius: 10px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./../../assets/images/keyboard_arrow_down-24px.svg");
  background-size: 24px;
  background-position: center right 10px;
  background-repeat: no-repeat;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .select-box {
    margin-top: 20px;
  }
}
