.header-panel {
  position: relative; /* Used for box shadow */
  width: 100%;
  height: 280px;
  margin: 40px 0px 30px 0px;
  padding: 40px 50px;
  box-sizing: border-box;
  background-image: url("./../../assets/images/header-image.svg");
  background-size: 200px;
  background-position: center right 50px;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.header-panel--title > h1 {
  font-size: 50px;
}

.header-panel--title > h3 {
  font-size: 30px;
  font-weight: normal;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .header-panel {
    margin: 30px 0px 20px 0px;
    height: auto;
    background-image: none;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
  }

  .header-panel--title > h1 {
    font-size: 35px;
  }

  .header-panel--title > h3 {
    font-size: 20px;
  }

  .theme-light .box-shadow::after {
    width: 90%;
    left: 5%;
    height: 0.1px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 769px) and (max-width: 991.98px) {
  .header-panel {
    height: auto;
    background-size: 100px;
    background-position: top 30px right 50px;
  }

  .header-panel--title > h1 {
    font-size: 40px;
  }

  .header-panel--title > h3 {
    font-size: 25px;
  }

  .theme-light .box-shadow::after {
    height: 0.1px;
  }
}

/* Theme selectors */
.theme-light .header-panel {
  background-color: var(--green);
  color: #ffffff;
}

.theme-light .box-shadow::after {
  content: "";
  position: absolute;
  width: 90%;
  bottom: 1px;
  z-index: -1;
  box-shadow: 0px -10px 40px 15px var(--light-green);
}

.theme-dark .header-panel {
  background-color: var(--light-black);
  color: var(--white);
}
