.page-search {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.results-box {
  max-width: 70%;
  margin-top: 40px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .page-search {
    max-width: 100%;
  }

  .results-box {
    max-width: 100%;
  }

  .page-header {
    flex-direction: column;
    justify-content: center;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 770px) and (max-width: 991.98px) {
  .page-search {
    max-width: 100%;
  }

  .results-box {
    max-width: 80%;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .page-search {
    max-width: 90%;
  }
}
