@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap");

:root {
  --green: #5dbc89;
  --light-green: #6fcf97;
  --dark-green: #41825f;
  --black: #333333;
  --light-black: #4f4f4f;
  --grey: #acacac;
  --white: #f5f6f7;
  --dark-black: #18191a;
  --light-black: #2e3133;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-light {
  background-color: #f2f2f2;
  color: var(--black);
}

.theme-dark {
  background-color: var(--dark-black);
  color: var(--white);
}

input,
select {
  font-family: "Lora";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
