@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
  --green: #5DBC89;
  --light-green: #6FCF97;
  --black: #333333;
  --light-black: #4F4F4F;
  --grey: #ACACAC;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  color: var(--black);
}

input, select {
  font-family: 'Lora';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
